################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net10.0-windows/NgrokTunnelsConfig/App.g.i.cs
/obj/Debug/net10.0-windows/NgrokTunnelsConfig/MainWindow.g.i.cs
/obj/Debug/net10.0-windows/NgrokUtil/App.g.i.cs
/obj/Debug/net10.0-windows/NgrokUtil/MainWindow.g.i.cs
/.vs/MgrokUtil/DesignTimeBuild/.dtbcache.v2
/NgrokTunnelsConfig/bin/Debug/net10.0-windows/NgrokTunnelsConfig.dll
/NgrokTunnelsConfig/bin/Debug/net10.0-windows/NgrokTunnelsConfig.exe
/NgrokTunnelsConfig/bin/Debug/net10.0-windows/NgrokTunnelsConfig.pdb
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/ref/NgrokTunnelsConfig.dll
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/refint/NgrokTunnelsConfig.dll
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/apphost.exe
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/MainWindow.baml
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/MainWindow.g.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.AssemblyInfo.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.AssemblyInfoInputs.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.csproj.BuildWithSkipAnalyzers
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.dll
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.g.resources
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.pdb
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig.sourcelink.json
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.AssemblyInfo.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.AssemblyInfoInputs.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.assets.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.GlobalUsings.g.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_f45hspjf_wpftmp.sourcelink.json
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.AssemblyInfo.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.AssemblyInfoInputs.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.assets.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.GlobalUsings.g.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_mckvasy4_wpftmp.sourcelink.json
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.AssemblyInfo.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.AssemblyInfoInputs.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.assets.cache
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.GlobalUsings.g.cs
/NgrokTunnelsConfig/obj/Debug/net10.0-windows/NgrokTunnelsConfig_ofqr4zkn_wpftmp.sourcelink.json
/NgrokTunnelsConfig/obj/NgrokTunnelsConfig_ofqr4zkn_wpftmp.csproj.nuget.dgspec.json
/NgrokTunnelsConfig/obj/NgrokTunnelsConfig_ofqr4zkn_wpftmp.csproj.nuget.g.props
/NgrokTunnelsConfig/obj/NgrokTunnelsConfig_ofqr4zkn_wpftmp.csproj.nuget.g.targets
/.vs/MgrokUtil/v18/.suo
